@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &__menu
      width: 480px
      margin-right: 50px
    &__button
      width: 200px
      font-size: 12px
      line-height: 16px
  .background
    height: 625px
  .hero
    &-recommendations
      &__item
        height: 120px
  .features
    &-wrapper
      padding: 25px 0 30px
  .feature
    padding-left: 16px
    padding-right: 16px
    &__title
      width: 142px
      margin: 0 10px 0 0
      font-size: 13px
      line-height: 18px
    &__image
      width: 55px
      height: 55px
  .articles
    padding-bottom: 50px
    &-wrapper
      display: grid
      grid-template-rows: 4
      grid-template-columns: 1fr 1fr 1fr
      gap: 30px
    &__main-article
      grid-row: 1/2
      grid-column: 1/3
    &__popular
      grid-row: 1/2
      grid-column: 3/4
    &__tools
      grid-row: 2/4
      grid-column: 1/2
    &__article-first
      grid-row: 2/3
      grid-column: 2/3
    &__article-second
      grid-row: 2/3
      grid-column: 3/4
    &__article-third
      grid-row: 3/4
      grid-column: 2/3
    &__article-fourth
      grid-row: 3/4
      grid-column: 3/4
    &__check-list
      grid-row: 4/5
      grid-column: 2/3
    &__tags
      grid-row: 4/5
      grid-column: 1/2
    &__networks
      grid-row: 4/5
      grid-column: 3/4
  .main-article
    width: 100%
  .popular
    width: 100%
  .tools
    width: 100%
  .article
    width: 100%
  .check-list
    width: 100%
    height: 260px
    &__top
      height: 82%
  .tags
    width: 100%
    height: 260px
    &__title
      margin: 0
      padding: 15px 25px 15px
      font-size: 12px
      line-height: 18px
    &-wrapper
      padding: 15px 25px 15px
    &__tag
      margin-bottom: 10px
      margin-right: 10px
      font-size: 12px
      line-height: 17px
      padding: 4px 11px
  .networks
    width: 100%
    height: 260px
    &__title
      margin: 0 0 60px
  .news
    &-items
      width: 680px
    &-published
      width: 240px
      &__wrapper
        padding: 0 20px
  .item
    &__image
      width: 250px
    &-info
      width: 370px
      &__text
        height: 80px
  .published
    &__title
      margin-top: 0
      margin-bottom: 5px
      font-size: 13px
      line-height: 18px
  .readers
    &-slider
      width: 465px
      height: 600px
    &-articles
      width: 465px
      height: 600px
      &__wrapper
        height: 200px
    &-article
      padding: 18px
      width: 218px
      height: 100%
      &__text
        height: 80px
    &-slide
      &__title
        margin-bottom: 65px
        font-size: 33px
        line-height: 44px
  .article-content
    &__text-wrapper
      width: 520px
  .writer
    width: 200px
  .right-panel
    width: 200px
  .package
    width: 220px
  .footer
    &-navbar
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
@media (max-width: 992px)
  .container
    max-width: 720px
  .header
    &__logo
      width: 120px
    &__menu
      width: 380px
      margin-right: 35px
      font-size: 12px
      line-height: 15px
    &__button
      width: 130px
      font-size: 10px
      line-height: 12px
      &:hover
        background-color: #656B70
        font-weight: 400
  .menu
    &__link
      &:hover
        text-decoration: none
  .background
    height: 530px
  .hero
    padding: 15px 0
    &-article
      padding: 30px 0 0 30px
    &-info
      &__title
        font-size: 34px
        line-height: 42px
      &__button
        &:hover
          background-color: $button-color
    &-recommendations
      &__title
        padding: 0 20px
        font-size: 12px
        line-height: 18px
      &__item
        height: 100px
        padding: 15px 18px 15px
        &:hover
          background-color: #ffffff
      &__article-title
        font-size: 11px
        line-height: 13px
      &__text
        font-size: 12px
        line-height: 18px
  .features
    &-wrapper
      flex-wrap: wrap
      padding: 15px 0 20px
  .feature
    width: 50%
    padding-top: 8px
    padding-bottom: 8px
    &:nth-child(2)
      border-right: none
    &__title
      width: 200px
      font-size: 14px
      line-height: 20px
    &__image
      width: 60px
      height: 60px
  .articles
    &-wrapper
      gap: 20px
  .main-article
    height: 335px
    &__top
      padding-top: 20px
      padding-left: 25px
    &-info
      width: 225px
    &__description
      margin: 0
      font-size: 11px
      line-height: 13px
    &__title
      margin-top: 15px
      margin-bottom: 20px
      font-size: 22px
      line-height: 27px
    &__text
      width: 200px
      font-size: 12px
      line-height: 17px
    &__author
      padding: 10px 25px 12px
    &__author-name
      font-size: 12px
      line-height: 17px
    &__author-text
      margin-right: 8px
      font-size: 12px
      line-height: 17px
    &__author-comment
      width: 12px
      height: 12px
      margin-right: 5px
    &__author-descriprion
      font-size: 11px
      line-height: 13px
  .popular
    padding: 15px 17px 22px
    height: 335px
    &__label
      text-align: center
      padding: 5px 10px
      margin-bottom: 95px
      width: 88px
      font-size: 11px
      line-height: 13px
    &__description
      font-size: 11px
      line-height: 13px
    &__title
      font-size: 14px
      line-height: 22px
      margin-top: 20px
      margin-bottom: 25px
    &-author
      &__avatar
        width: 40px
        height: 40px
      &__name
        font-size: 12px
        line-height: 17px
      &__description
        font-size: 10px
        line-height: 13px
      &__comment
        width: 12px
        height: 12px
      &__like
        width: 12px
        height: 12px
  .tools
    height: 420px
    border-radius: 10px
    overflow: hidden
    background-color: #ffffff
    &__image
      width: 100%
      height: 325px
    &__title
      margin: 0
      padding: 15px 40px 25px 20px
      font-size: 15px
      line-height: 23px
      color: $back-color
  .article
    height: 200px
    padding: 20px 20px 25px
    &__title
      height: 40px
      font-size: 15px
      line-height: 20px
    &__text
      height: 72px
      font-size: 13px
      line-height: 18px
  .tags
    &__title
      margin: 0
      padding: 10px 22px 10px
      font-size: 11px
      line-height: 15px
    &-wrapper
      padding: 12px 22px 12px
    &__tag
      margin-bottom: 7px
      margin-right: 7px
      font-size: 11px
      line-height: 15px
      padding: 4px 10px
  .networks
    padding: 20px 30px 20px
    &__title
      margin: 0 0 60px
    &__icon
      width: 45px
      height: 45px
      &--facebook
        &:hover
          fill: #4267B2
      &--twitter
        &:hover
          fill: #1DA1F2
      &--youtube
        &:hover
          fill: #FF0000
  .investigation
    height: 240px
    &-wrapper
      padding: 40px 0 45px
    &__title
      width: 750px
      font-size: 32px
      line-height: 45px
    &__button
      &:hover
        background-color: $button-color
  .news
    &-wrapper
      padding: 50px 0
    &-items
      width: 500px
      padding: 0 20px
    &-published
      width: 200px
      &__wrapper
        padding: 0 17px
      &__title
        padding-top: 15px
        padding-bottom: 14px
        font-size: 11px
        line-height: 17px
      &__more
        padding: 9px 0 11px
      &__button
        font-size: 12px
        line-height: 17px
        &:hover
          text-decoration: none
  .item
    padding: 18px 0
    &__image
      width: 200px
      height: 190px
      margin-right: 15px
    &-info
      width: 240px
      &__description
        font-size: 10px
        line-height: 13px
      &__flag
        width: 12px
      &__title
        margin-top: 10px
        margin-bottom: 8px
        font-size: 17px
        line-height: 22px
      &__text
        height: 90px
        margin-top: 0
        margin-bottom: 15px
        font-size: 12px
        line-height: 18px
  .published
    padding: 14px 0
    &__image
      height: 50px
      width: 50px
      margin-right: 8px
    &__title
      font-size: 11px
      line-height: 16px
    &__time
      font-size: 10px
      line-height: 13px
    &__number
      width: 31px
      height: 40px
  .readers
    &-wrapper
      flex-direction: column
      padding: 50px 0
    &-slider
      width: 100%
      height: 470px
      margin-bottom: 30px
    &-slide
      &__button
        &:hover
          background-color: $button-color
    &-articles
      width: 100%
      height: 560px
      &__wrapper
        height: 160px
    &-article
      height: 100%
      width: 347px
      &__text
        height: 40px
  .carier
    &__button
      &:hover
        background-color: $button-color
  .footer
    &-wrapper
      padding: 50px 0 45px
    &-navbar
      padding-bottom: 55px
      &__title
        margin-top: 20px
        margin-bottom: 15px
        font-size: 12px
        line-height: 17px
      &__item
        margin-bottom: 10px
      &__link
        font-size: 11px
        line-height: 15px
        &:hover
          text-decoration: none
    &-contacts
      padding: 20px 0
      &__logo
        width: 40px
        height: 40px
        margin-right: 22px
      &__list
        width: 400px
      &__link
        font-family: $lato-900
        font-size: 12px
        line-height: 17px
        &:hover
          text-decoration: none
      &__networks
        width: 165px
      &__icon
        width: 30px
        height: 30px
        &--facebook
          &:hover
            fill: #4267B2
        &--twitter
          &:hover
            fill: #1DA1F2
        &--youtube
          &:hover
            fill: #FF0000
        &--instagram
          &:hover
            fill: #262626
    &-description
      padding-top: 30px
      font-size: 12px
      line-height: 17px
      &__universal
        width: 500px
  .subscribe-wrapper
    margin-bottom: 35px
    &__title
      margin-bottom: 25px
      font-size: 32px
      line-height: 40px
  .subscribe
    width: 420px
    height: 60px
    &__input
      width: 290px
      padding: 8px 12px
      font-size: 12px
      line-height: 17px
    &__button
      padding: 9px 20px
      height: 35px
      font-size: 12px
      line-height: 17px
      border-radius: 20px
      &:hover
        background-color: #4592FF
    label
      width: 290px
      font-size: 12px
      line-height: 17px
  .modal
    &__button
      &:hover
        background-color: $grey-85
  .article-hero
    &-wrapper
      padding: 55px 60px 65px
      z-index: 10
    &__title
      margin-top: 40px
      margin-bottom: 25px
      width: 100%
      font-size: 42px
      line-height: 55px
    &__text
      margin-bottom: 35px
      width: 500px
      font-size: 16px
      line-height: 27px
    &__flag
      top: 130px
      width: 17px
    &__link
      &:hover
        text-decoration: none
  .article-content
    &-wrapper
      padding: 60px 0 80px
    &__text-wrapper
      margin-left: 60px
      font-size: 16px
      line-height: 26px
      width: 370px
    &__main-letter
      margin-top: 5px
      margin-right: 12px
      width: 70px
      height: 55px
    &__text
      margin-bottom: 25px
    &__title
      margin-top: 13px
      margin-bottom: 25px
      font-size: 22px
      line-height: 26px
    &__quote
      margin-top: 40px
      margin-bottom: 35px
      font-size: 18px
      line-height: 23px
      img
        width: 40px
        height: 40px
        top: -12px
        left: -12px
    &__tags
      width: 100%
      margin: 12px 60px 45px
    &__tag
      margin-right: 9px
      padding: 4px 13px
      font-size: 12px
      line-height: 17px
      border-radius: 5px
    &__support
      width: 600px
      padding: 27px 0
      margin: 0 60px
      &-title
        margin-bottom: 22px
        font-size: 22px
        line-height: 26px
      &-button
        height: 34px
        padding: 7px 15px
        margin-right: 12px
        border-radius: 20px
        color: #ffffff
        font-size: 12px
        line-height: 17px
        &:hover
          background-color: #4592FF
      &-text
        margin-right: 7px
    &__like
      width: 15px
      height: 13px
      margin-right: 9px
    &__share
      width: 8px
      margin-right: 11px
    &__twitt
      width: 15px
      height: 12px
      margin-right: 8px
  .right-panel
    width: 160px
    margin-top: 120px
    margin-right: 60px
    &__title
      margin-bottom: 15px
      font-size: 16px
      line-height: 21px
    &__article-title
      margin-top: 12px
      margin-bottom: 4px
      font-size: 13px
      line-height: 18px
    &__text
      margin-bottom: 16px
      font-size: 13px
      line-height: 18px
      color: #4B5157
    &__statistics
      font-size: 10px
      line-height: 13px
    &__view
      width: 12px
      margin-right: 3px
      margin-bottom: 1px
    &__comment
      width: 11px
      margin-right: 3px
      margin-bottom: 1px
    &__views-number
      margin-right: 8px
  .article-slider
    margin-top: 12px
    margin-bottom: 25px
    &__image
      height: 500px
    &__button
      top: 210px
      width: 45px
      height: 45px
      background-size: cover
      &--prev
        left: 27px
      &--next
        right: 27px
  .slide-info
    padding-left: 20px
    padding-right: 40px
    height: 60px
    &__text
      font-size: 12px
      line-height: 17px
    &__photograph
      width: 240px
      &-avatar
        margin-left: 20px
        margin-right: 8px
        width: 37px
        height: 37px
      &-name
        font-size: 12px
        line-height: 17px
      &-description
        font-size: 10px
        line-height: 12px
  .writer
    position: absolute
    top: -80px
    right: 60px
    width: 200px
    height: 230px
    border-radius: 10px
    overflow: hidden
    &__avatar
      margin-top: 27px
      margin-bottom: 12px
      width: 65px
      height: 65px
    &__name
      margin-bottom: 5px
      font-size: 17px
      line-height: 22px
    &__description
      margin-bottom: 12px
      font-size: 12px
      line-height: 17px
    &__articles-num
      margin-bottom: 15px
      font-size: 12px
      line-height: 17px
    &__link
      display: block
      padding: 12px 0
      width: 100%
      text-align: center
      font-family: $lato-900
      font-size: 12px
      line-height: 17px
      &:hover
        text-decoration: none
  .packages
    padding: 50px 0 70px
  .package
    width: 165px
    &__image
      height: 150px
    &__title
      margin: 12px 0
      font-size: 14px
      line-height: 20px
      color: #262D33
    &__statistics
      font-size: 10px
      line-height: 13px
    &__view
      width: 12px
      margin-right: 3px
      margin-bottom: 1px
    &__comment
      width: 11px
      margin-right: 3px
      margin-bottom: 1px
    &__views-number
      margin-right: 8px
  .comments
    &-wrapper
      padding: 70px 0 20px 60px
      width: 700px
    &-top
      margin-bottom: 24px
    &__title
      font-size: 27px
      line-height: 36px
    &__num
      font-size: 27px
      line-height: 36px
    &__add-button
      padding: 8px 17px
      font-size: 12px
      line-height: 17px
      &:hover
        background-color: #ffffff
        text-decoration: none
      &__pencil
        width: 15px
        height: 15px
        margin-right: 10px
    &-visible-button
      margin-bottom: 50px
      padding: 12px 0
      font-size: 11px
      line-height: 18px
      &--hidden
        display: none
      &:hover
        background-color: #ffffff
        text-decoration: none
      img
        width: 13px
        height: 13px
        margin-right: 6px
  .comment
    padding-top: 16px
    padding-bottom: 22px
    &--answer
      padding-left: 60px
    &__avatar
      margin-top: 7px
      width: 50px
      height: 50px
      margin-right: 13px
    &-info
      &__top
        margin-bottom: 9px
      &__name
        margin-right: 4px
        font-size: 14px
        line-height: 20px
      &__date
        font-size: 10px
        line-height: 13px
      &__text
        margin-bottom: 15px
        width: 500px
        font-size: 14px
        line-height: 20px
      &__statictics
        display: flex
        align-items: center
        color: #262D33
      &__comment
        width: 13px
        margin-right: 5px
      &__answer-button
        margin-right: 12px
        font-size: 10px
        line-height: 13px
        &:hover
          text-decoration: none
      &__like
        width: 12px
        margin-right: 9px
        margin-bottom: 2px
      &__likes-num
        margin-right: 8px
        font-size: 10px
        line-height: 13px
      &__dislike
        width: 12px
        margin-bottom: 1px
  .comment-new
    padding: 20px 30px 25px 20px
    &-avatar
      margin-top: 30px
      margin-right: 20px
      width: 60px
      height: 60px
    &__title
      margin-bottom: 12px
      margin-left: 8px
      font-size: 16px
      line-height: 22px
    &__textarea
      top: 37px
      left: 11px
      width: 510px
      height: 111px
      padding: 10px 13px
  &__button
    display: inline-block
    text-align: center
    margin-top: 15px
    margin-left: 12px
    padding: 10px 0
    width: 154px
    background-color: $button-color
    border-radius: 20px
    font-family: $lato-900
    font-size: 14px
    line-height: 20px
    color: #ffffff
    cursor: pointer
    text-decoration: none
    border: none
    &:hover
      background-color: #005fe3
    img
      object-fit: contain
      width: 15px
      margin-left: 8px
@media (max-width: 767px)
  .container
    max-width: 576px
  .navbar
    display: none
    &--mobile
      position: fixed
      top: 70px
      left: 0
      right: 0
      bottom: 0
      display: block
      background-color: $back-color
      padding-top: 22px
      text-align: center
      overflow: auto
  .header
    &__menu
      width: 100%
      flex-direction: column
      align-items: center
      margin: 0 auto
      font-size: 16px
      line-height: 22px
      height: 300px
      margin-bottom: 20px
      &-button
        display: flex
    &__button
      padding-top: 10px
      padding-bottom: 10px
      width: 200px
      font-size: 14px
      line-height: 20px
      margin-bottom: 35px
  .menu
    &__link
      &--article
        color: #ffffff
  .hero
    &-article
      padding: 20px 0 0 20px
    &-author
      &__avatar
        width: 35px
        height: 35px
      &__name
        font-size: 13px
        line-height: 17px
      &__description
        font-size: 11px
        line-height: 13px
    &-info
      padding-top: 170px
      &__title
        font-size: 26px
        line-height: 36px
        margin-bottom: 85px
      &__button
        padding: 8px 0
        width: 140px
        font-size: 12px
        line-height: 18px
  .features
    &-wrapper
      padding: 12px 0 17px
  .feature
    padding-top: 7px
    padding-bottom: 7px
    &__title
      width: 180px
      font-size: 13px
      line-height: 20px
    &__image
      width: 55px
      height: 55px
  .articles
    padding-bottom: 40px
    &-wrapper
      grid-template-rows: 6
      grid-template-columns: 1fr 1fr
      gap: 30px
    &__main-article
      grid-row: 1/2
      grid-column: 1/3
    &__popular
      grid-row: 2/3
      grid-column: 2/3
    &__tools
      grid-row: 2/3
      grid-column: 1/2
    &__article-first
      grid-row: 3/4
      grid-column: 1/2
    &__article-second
      grid-row: 3/4
      grid-column: 2/3
    &__article-third
      grid-row: 4/5
      grid-column: 1/2
    &__article-fourth
      grid-row: 4/5
      grid-column: 2/3
    &__check-list
      grid-row: 5/6
      grid-column: 2/3
    &__tags
      grid-row: 5/6
      grid-column: 1/2
    &__networks
      grid-row: 6/7
      grid-column: 1/3
  .main-article
    height: 320px
    &__top
      height: 270px
  .popular
    &__label
      margin-bottom: 116px
    &__title
      margin-bottom: 27px
  .tools
    height: 335px
    &__image
      height: 245px
  .article
    height: 160px
    &__text
      height: 55px
  .tags
    height: 225px
  .check-list
    height: 225px
    &__top
      height: 78%
  .networks
    height: 100px
    padding: 10px 180px 10px
    &__title
      margin: 0 0 15px
      font-size: 18px
      line-height: 23px
    &__icon
      width: 40px
      height: 40px
  .investigation
    height: 220px
    &-wrapper
      padding: 35px 0 40px
    &__title
      width: 630px
      font-size: 27px
      line-height: 42px
    &__button
      width: 159px
      font-size: 12px
      line-height: 17px
  .news
    &-wrapper
      flex-direction: column
      padding: 40px 0
    &-items
      width: 100%
      margin-bottom: 30px
    &-published
      width: 100%
      &__wrapper
        padding: 0 60px
      &__title
        padding-top: 15px
        padding-bottom: 14px
        font-size: 13px
        line-height: 18px
      &__more
        padding: 11px 0 14px
  .item
    padding: 18px 0
    &__image
      width: 240px
      height: 210px
    &-info
      width: 280px
      &__text
        height: 90px
  .published
    padding: 14px 0
    &__image
      height: 50px
      width: 50px
    &-info
      width: 80%
    &__title
      font-size: 14px
      line-height: 20px
    &__time
      font-size: 12px
      line-height: 15px
    &__number
      width: 31px
      height: 40px
  .readers
    height: 1130px
    &-wrapper
      padding: 40px 0
    &-slider
      height: 470px
      margin-bottom: 30px
    &-slide
      &__title
        margin-bottom: 80px
        font-size: 26px
        line-height: 34px
      &__button
        padding: 9px 0
        width: 182px
        font-size: 12px
        line-height: 17px
        img
          margin-right: 7px
          width: 17px
    &-articles
      height: 600px
      &__wrapper
        height: 210px
    &-article
      width: 280px
      &__title
        height: 20px
        margin-bottom: 12px
      &__text
        margin-bottom: 5
        height: 60px
  .photograph
    &__avatar
      margin-bottom: 7px
      height: 40px
      width: 40px
    &__name
      font-size: 12px
      line-height: 18px
    &__description
      font-size: 11px
      line-height: 13px
  .footer
    &-wrapper
      padding: 45px 0 40px
    &-navbar
      grid-template-columns: 1fr 1fr 1fr
      padding-bottom: 50px
      grid-row-gap: 30px
    &-contacts
      padding: 17px 0
      flex-wrap: wrap
      &__navbar
        margin-bottom: 20px
      &__logo
        margin-right: 35px
      &__list
        width: 450px
    &-description
      padding-top: 20px
      font-size: 11px
      line-height: 15px
      &__universal
        width: 400px
  .subscribe-wrapper
    margin-bottom: 35px
    &__title
      margin-bottom: 25px
      font-size: 32px
      line-height: 40px
  .subscribe
    width: 420px
    height: 60px
    &__input
      width: 290px
      padding: 8px 12px
      font-size: 12px
      line-height: 17px
    &__button
      padding: 9px 20px
      height: 35px
      font-size: 12px
      line-height: 17px
      border-radius: 20px
      &:hover
        background-color: #4592FF
    label
      width: 290px
      font-size: 12px
      line-height: 17px
  .article-hero
    &-wrapper
      padding: 40px 40px 50px
    &__title
      margin-top: 35px
      margin-bottom: 24px
      font-size: 33px
      line-height: 42px
    &__links
      font-size: 12px
      line-height: 17px
    &--to_main
      margin-right: 20px
    &--back
      margin-right: 15px
    &__home
      width: 15px
      margin-bottom: 2px
      margin-right: 5px
    &__left-arrow
      width: 12px
      margin-right: 6px
    &__right-arrow
      width: 12px
      margin-left: 6px
    &__text
      margin-bottom: 27px
      width: 100%
      font-size: 15px
      line-height: 22px
    &__flag
      top: 103px
      width: 15px
  .article-content
    &__wrapper
      padding: 0 40px
    &__text-wrapper
      width: 100%
      margin: 0
    &__quote
      margin-top: 20px
      margin-bottom: 20px
      img
        display: none
    &__middle
      flex-direction: column
    &__tags
      margin: 30px 0
      width: 100%
    &__support
      margin: 0
      width: 450px
  .right-panel
    width: 100%
    margin-top: 30px
    margin-right: 0
  .article-slider
    &__image
      height: 380px
    &__button
      top: 170px
      width: 40px
      height: 40px
      &--prev
        left: 25px
      &--next
        right: 25px
  .slide-info
    padding-left: 20px
    padding-right: 40px
    height: 60px
    &__photograph
      width: 240px
      &-avatar
        margin-left: 15px
        margin-right: 8px
        width: 32px
        height: 32px
  .writer
    display: none
  .packages
    padding: 40px 0 40px
    &-wrapper
      flex-wrap: wrap
  .package
    width: 47%
    margin-bottom: 20px
  .comments
    &-wrapper
      padding: 50px 0 20px 30px
      width: 550px
    &-top
      margin-bottom: 20px
    &__title
      font-size: 22px
      line-height: 30px
    &__num
      font-size: 22px
      line-height: 30px
  .comment
    padding-top: 16px
    padding-bottom: 22px
    &--answer
      padding-left: 30px
    &__avatar
      margin-top: 7px
      width: 35px
      height: 35px
      margin-right: 13px
    &-info
      &__top
        margin-bottom: 9px
      &__name
        margin-right: 4px
        font-size: 14px
        line-height: 20px
      &__text
        width: 400px
      &__comment
        width: 13px
        margin-right: 5px
  .comment-new
    padding: 17px 25px 22px 17px
    &-avatar
      margin-top: 20px
      margin-right: 15px
      width: 50px
      height: 50px
    &__title
      margin-bottom: 12px
      margin-left: 8px
      font-size: 16px
      line-height: 22px
    &__textarea
      top: 37px
      left: 10px
      width: 414px
      height: 90px
      padding: 10px 13px
@media (max-width: 576px)
  .container
    max-width: 88%
  .background
    height: 625px
  .hero
    margin-top: 50px
    &-wrapper
      flex-direction: column
    &-article
      width: 100%
      padding-bottom: 30px
    &-info
      padding-top: 30px
      &__language
        font-size: 10px
        line-height: 13px
      &__title
        margin-top: 16px
        margin-bottom: 35px
    &-recommendations
      width: 100%
      &__item
        height: 70px
  .features
    &-wrapper
      padding: 12px 20px 17px
  .feature
    width: 100%
    display: flex
    justify-content: space-between
    &:nth-child(n)
      border-right: none
    &__title
      width: 65%
    &__image
      width: 55px
      height: 55px
  .articles
    &-wrapper
      gap: 17px
  .tags
    height: 250px
  .check-list
    height: 250px
    &__top
      height: 81%
  .investigation
    height: 190px
    &-wrapper
      padding: 20px 0 25px
    &__title
      width: 500px
      font-size: 22px
      line-height: 37px
  .news
    &-items
      width: 100%
      margin-bottom: 30px
  .item
    &__image
      width: 208px
      height: 220px
    &-info
      width: 259px
      &__title
        font-size: 15px
        line-height: 20px
  .readers
    &-wrapper
      padding: 35px 0 0
    &-articles
      height: 562px
      &__wrapper
        height: 230px
    &-article
      width: 245px
  .carier
    height: 310px
    &-info
      width: 248px
      padding: 35px 0 50px 35px
    &__description
      font-size: 11px
      line-height: 12px
    &__title
      margin-top: 18px
      margin-bottom: 14px
      font-size: 22px
      line-height: 27px
    &__text
      margin-bottom: 20px
      font-size: 12px
      line-height: 17px
    &__button
      width: 148px
      font-size: 12px
      line-height: 17px
    img
      width: 12px
      margin-left: 7px
  .footer
    &-wrapper
      padding: 40px 0 35px
    &-navbar
      padding-bottom: 40px
      &__title
        margin-top: 15px
        margin-bottom: 10px
        font-size: 12px
        line-height: 17px
      &__item
        margin-bottom: 8px
    &-contacts
      padding: 15px 0
      flex-wrap: wrap
      &__navbar
        margin-bottom: 18px
      &__logo
        height: 30px
        width: 30px
        margin-right: 30px
      &__list
        width: 380px
      &__link
        font-size: 10px
        line-height: 15px
      &__networks
        width: 150px
      &__icon
        width: 27px
        height: 27px
    &-description
      flex-direction: column
      padding-top: 20px
      font-size: 10px
      line-height: 14px
      &__universal
        width: 100%
        margin-bottom: 8px
  .subscribe-wrapper
    margin-bottom: 35px
    &__title
      margin-bottom: 22px
      font-size: 26px
      line-height: 33px
  .slide-info
    &__photograph
      width: 300px
  .comments
    &-wrapper
      padding: 40px 0 15px 20px
      width: 450px
    &__title
      font-size: 20px
      line-height: 25px
    &__num
      font-size: 20px
      line-height: 25px
  .comment
    padding-top: 15px
    padding-bottom: 20px
    &--answer
      padding-left: 25px
    &__avatar
      margin-top: 7px
      width: 30px
      height: 30px
      margin-right: 13px
    &-visible-button
      margin-bottom: 30px
    &-info
      &__top
        margin-bottom: 9px
      &__name
        margin-right: 4px
        font-size: 14px
        line-height: 20px
      &__text
        width: 320px
      &__comment
        width: 13px
        margin-right: 5px
  .comment-new
    &-avatar
      width: 40px
      height: 40px
    &__textarea
      top: 36px
      left: 8px
      width: 325px
      height: 71px
@media (max-width: 575px)
  .container
    max-width: 88%
  .navbar
    &--mobile
      top: 50px
  .header
    &__logo
      width: 100px
    &-wrapper
      height: 50px
  .background
    height: 735px
  .hero
    &-info
      &__title
        font-size: 22px
        line-height: 30px
      &__button
        padding: 7px 0
        width: 120px
        font-size: 10px
        line-height: 15px
    &-recommendations
      &__title
        margin-top: 15px
        margin-bottom: 15px
      &__item
        height: 90px
  .features
    &-wrapper
      padding: 12px 0 17px
  .feature
    &__title
      font-size: 12px
      line-height: 18px
  .articles
    &-wrapper
      grid-template-rows: 10
      grid-template-columns: 1fr
    &__main-article
      grid-row: 1/2
      grid-column: 1/2
    &__popular
      grid-row: 2/3
      grid-column: 1/2
    &__tools
      grid-row: 3/4
      grid-column: 1/2
    &__article-first
      grid-row: 4/5
      grid-column: 1/2
    &__article-second
      grid-row: 5/6
      grid-column: 1/2
    &__article-third
      grid-row: 6/7
      grid-column: 1/2
    &__article-fourth
      grid-row: 7/8
      grid-column: 1/2
    &__check-list
      grid-row: 8/9
      grid-column: 1/2
    &__tags
      grid-row: 9/10
      grid-column: 1/2
    &__networks
      grid-row: 10/11
      grid-column: 1/2
  .main-article
    &__top
      padding: 20px 18px
      height: 230px
    &-info
      width: 100%
    &__title
      font-size: 20px
      line-height: 25px
    &__text
      width: 100%
      max-height: 70px
      font-size: 12px
      line-height: 17px
    &__image
      display: none
    &__author
      padding-left: 18px
      padding-right: 18px
    &__author-info
      flex-wrap: wrap
      width: 180px
    &__author-name
      width: 100%
    &__author-text
      width: 100%
  .check-list
    height: 170px
    &__top
      height: 75%
  .tags
    height: 220px
  .networks
    width: 100%
    padding: 10px 55px 20px
    &__icon
      width: 40px
      height: 40px
  .investigation
    height: 180px
    &-wrapper
      padding: 15px 0 20px
    &__title
      width: 280px
      font-size: 18px
      line-height: 27px
    &__button
      width: 148px
      padding: 9px 0
      font-size: 10px
      line-height: 12px
  .news
    &-published
      &__wrapper
        padding: 0 22px
  .item
    &-info
      width: 100%
    &__image
      display: none
  .published
    padding: 17px 0
    &__image
      width: 60px
      height: 60px
      margin-right: 12px
    &__title
      font-size: 14px
      line-height: 20px
    &__time
      font-size: 12px
      line-height: 15px
  .readers
    padding: 0
    height: 1170px
    &-slider
      height: 400px
      &__label
        top: 14px
        left: 14px
        width: 62px
        height: 22px
        font-size: 10px
        line-height: 22px
        border-radius: 3px
    &-slide
      padding: 35px 20px 30px
      &__title
        margin-top: 22px
        margin-bottom: 55px
        font-size: 20px
        line-height: 27px
    &-articles
      &__wrapper
        flex-direction: column
        height: auto
    &-article
      width: 100%
      margin-bottom: 20px
  .swiper-pagination
    margin-bottom: 20px
  .carier
    background-image: none
    margin-bottom: 20px
    &-info
      width: 100%
      padding: 35px
  .footer
    &-wrapper
      padding: 30px 0 25px
    &-navbar
      grid-template-columns: 1fr 1fr
      padding-bottom: 20px
      grid-row-gap: 25px
    &-contacts
      justify-content: center
      padding: 17px 0
      flex-wrap: wrap
      &__navbar
        flex-direction: column
        align-items: center
        width: 100%
        margin-bottom: 15px
      &__logo
        margin-right: 0
        margin-bottom: 10px
      &__list
        width: 100%
      &__link
        font-size: 8px
        line-height: 12px
  .subscribe-wrapper
    &__title
      font-size: 16px
      line-height: 22px
  .subscribe
    flex-direction: column
    width: 100%
    height: 95px
    &__input
      width: 281px
    &__button
      width: 100%
    label
      width: 281px
  .modal
    &__dialog
      left: 50%
      top: 10px
      transform: translate(-50%, 0)
      padding-left: 25px
      padding-right: 25px
    &__fields-wrapper
      flex-direction: column-reverse
      align-items: start
    &__info
      margin-top: 12px
      margin-bottom: 5px
  .article-hero
    margin-top: 50px
    &-wrapper
      padding: 30px 28px 40px
    &__top
      flex-direction: column-reverse
      justify-content: space-between
      align-items: start
      height: 45px
    &__title
      margin-top: 20px
      margin-bottom: 20px
      font-size: 22px
      line-height: 32px
    &__links
      font-size: 10px
      line-height: 14px
    &--to_main
      margin-right: 14px
    &--back
      margin-right: 11px
    &__home
      width: 12px
      margin-bottom: 1px
      margin-right: 6px
    &__left-arrow
      width: 10px
      margin-right: 5px
    &__right-arrow
      width: 10px
      margin-left: 5px
    &__text
      margin-bottom: 25px
      font-size: 13px
      line-height: 17px
      &__date
        display: flex
        align-items: center
        font-size: 12px
        line-height: 15px
        margin-right: 20px
        mix-blend-mode: normal
        opacity: 0.85
    &__likes
      font-size: 11px
    &__comments
      font-size: 11px
    &__clock
      width: 12px
    &__heart
      width: 11px
    &__comment
      width: 12px
    &__flag
      top: 103px
      width: 12px
  .article-content
    &-wrapper
      padding: 20px 0
    &__tag
      display: inline-block
      margin-bottom: 10px
    &__support
      width: 100%
      &-button
        float: none
        margin-bottom: 12px
  .article-slider
    &__image
      height: 250px
    &__button
      top: 120px
      width: 20px
      height: 20px
      &--prev
        left: 12px
      &--next
        right: 12px
  .slide-info
    height: 80px
    padding-left: 10px
    padding-right: 10px
    &__text
      width: 50%
      font-size: 10px
      line-height: 14px
    &__photograph
      width: 50%
      &-avatar
        margin-left: 13px
        margin-right: 10px
        width: 30px
        height: 30px
      &-name
        font-size: 10px
        line-height: 14px
      &-description
        font-size: 9px
        line-height: 11px
  .package
    width: 100%
  .comments
    &-top
      flex-direction: column
      align-items: start
    &-wrapper
      padding: 20px 0 15px 0
      width: 100%
    &__title
      font-size: 18px
      line-height: 22px
      margin-bottom: 10px
    &__num
      font-size: 18px
      line-height: 22px
  .comment
    padding-top: 13px
    padding-bottom: 17px
    &--answer
      padding-left: 10px
    &__avatar
      margin-top: 7px
      width: 25px
      height: 25px
      margin-right: 11px
    &-visible-button
      margin-bottom: 20px
    &-info
      &__top
        margin-bottom: 9px
      &__name
        margin-right: 4px
        font-size: 12px
        line-height: 17px
      &__text
        width: 210px
      &__comment
        width: 13px
        margin-right: 5px
  .comment-new
    &__title
      font-size: 12px
      line-height: 17px
    &-avatar
      margin-bottom: 33px
      width: 30px
      height: 30px
      margin-right: 10px
    &__textarea
      top: 30px
      left: 5.5px
      width: 190px
      height: 41px
